.modal-bg#modal-bg(style='display:none')
  .modal
    h2#modal-title
    #modal-body
    .modal-actions
      button.btn.btn-ghost#modal-cancel Close
      button.btn.btn-primary#modal-ok(style='display:none') OK
