doctype html
html(lang='en')
  head
    include parts/head.pug
    style
      include parts/style/base.css
      include parts/style/themes.css
      include parts/style/avail.css
      include parts/style/call.css
  body
    include parts/views/chrome.pug
    include parts/views/auth.pug
    include parts/views/host.pug
    include parts/views/booking.pug
    include parts/views/modal.pug
    include parts/views/call.pug
    script
      include parts/js/config.js
      include parts/js/router.js
      include parts/js/auth.js
      include parts/js/host.js
      include parts/js/booking.js
      include parts/js/modal.js
      include parts/js/utils.js
      include parts/js/diag.js
      include parts/js/call.js
      include parts/js/boot.js
