doctype html
html(lang='en')
  head
    include parts/head.pug
    style
      include parts/style/base.css
      include parts/style/themes.css
      include parts/style/avail.css
  body
    include parts/views/chrome.html
    include parts/views/auth.html
    include parts/views/host.html
    include parts/views/booking.html
    include parts/views/modal.html
    script
      include parts/js/config.js
      include parts/js/router.js
      include parts/js/auth.js
      include parts/js/host.js
      include parts/js/booking.js
      include parts/js/modal.js
      include parts/js/utils.js
      include parts/js/boot.js
